.signInButton {
   height: 3rem;
   border-radius: 3rem;
   background-color: var(--gray-850);
   border: 0;
   display: flex;
   align-items: center;
   padding: 0 1.5rem;
   justify-content: center;
   color: var(--white);
   font-weight: bold;
   transition: filter ease .6s;
   
   svg {
      width: 20px;
      height: 20px;

      &:first-child {
         margin-right: 1rem;
      }

      &.closeIcon {
         margin-left: 1rem;
      }
   }

   &:hover {
      filter: brightness(.8);
   }
}